*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hero section */
#hero{
    background:  url("..images\hero-bg.png");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}
#hero .btn{
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3s ease ;
}
#hero .btn:hover{
    color: white;
    background-color: crimson;
    transition-property: background-color, color;
}
/* End hero section */ 